variables:
  IMAGE_NAME: "docker/images/sphinx-doc"
  IMAGE_VERSION: "1.0"

stages:
  - package

Package Docker image:
  stage: package
  image: docker-private.gesis.intra/gesis/dc:5.3
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.3
      alias: docker
  script:
    - ./docker/build-and-push.sh
  only:
    - master
    - stable
