variables:
  VERSION: "1.2-SNAPSHOT"
  DOCKER_IMAGE_NAME: "rse/docker/images/sphinx-doc"

stages:
  - package
  - secure

Deploy Docker image:
  stage: package
  image: docker-private.gesis.intra/gesis/dc:5.10
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.6
      alias: docker
  script:
    - docker-ci deploy-image
  except:
    - stable

Scan Docker image for vulnerabilities:
  stage: secure
  image: docker-private.gesis.intra/gesis/dc:5.10
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.6
      alias: docker
  script:
    - docker-ci scan-image
  artifacts:
    paths:
      - grype-report.html
  except:
    - stable

Generate bill of materials of Docker image:
  stage: secure
  image: docker-private.gesis.intra/gesis/dc:5.10
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.6
      alias: docker
  script:
    - docker-ci generate-bom
  artifacts:
    paths:
      - syft-report.txt
  except:
    - stable
