workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID

include:
  - component: $CI_SERVER_FQDN/rse/ci-cd-catalog/oc2gesis/oc2gesis@1.0.0