services:
  - name: docker-private.gesis.intra/gesis/dind:3.0
    alias: docker
variables: 
  DOCKER_HOST: "tcp://docker:2375"

stages:
  - build

docker:
  stage: build
  image: docker-private.gesis.intra/gesis/dc:3.0
  script:
    - docker build -t docker-private-snapshots.gesis.intra/docker/images/sphinx-doc:1.0-SNAPSHOT .
    - docker push docker-private-snapshots.gesis.intra/docker/images/sphinx-doc:1.0-SNAPSHOT
  only:
    - master
    - stable