include:
  - component: $CI_SERVER_FQDN/$CI_PROJECT_PATH/sphinx-doc@$CI_COMMIT_SHA
    inputs:
      stage: test-component
      dir: demo

variables:
  VERSION_NUMBER:
    value: "2.2.0"
    description: Version number used for the Docker image
  DOCKER_IMAGE_NAME:
    value: "rse/docker/images/sphinx-doc"
    description: The Docker image name

stages:
  - package
  - secure
  - test-component
  - release-component
  - release-pages

Prepare environment variables:
  stage: .pre
  script:
    - >
      if [ -z "$CI_COMMIT_TAG" ]; then
        echo "VERSION=${VERSION_NUMBER}-SNAPSHOT" > .env
      else
        echo "VERSION=${VERSION_NUMBER}" > .env
      fi
  artifacts:
    reports:
      dotenv: .env

Deploy Docker image:
  stage: package
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - docker
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - docker
  image: docker-private.gesis.intra/gesis/dc:5.10
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.6
      alias: docker
  script:
    - docker-ci deploy-image

Scan Docker image for vulnerabilities:
  stage: secure
  image: docker-private.gesis.intra/gesis/dc:5.10
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - docker
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - docker
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.6
      alias: docker
  script:
    - docker-ci scan-image
  artifacts:
    paths:
      - grype-report.html

Generate bill of materials of Docker image:
  stage: secure
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - docker
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - docker
  image: docker-private.gesis.intra/gesis/dc:5.10
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.6
      alias: docker
  script:
    - docker-ci generate-bom
  artifacts:
    paths:
      - syft-report.txt

Create release:
  stage: release-component
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script: echo "Creating release $CI_COMMIT_TAG"
  rules:
    - if: $CI_COMMIT_TAG
  release:
    tag_name: $CI_COMMIT_TAG
    description: "Release $CI_COMMIT_TAG of components in $CI_PROJECT_PATH"

pages:
  stage: release-pages
  script:
    - mv demo/build/html public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"