services:
  - name: docker-private.gesis.intra/gesis/dind:2.0
    alias: docker
variables: 
  DOCKER_HOST: "tcp://docker:2375"

stages:
  - build

docker:
  stage: build
  image: docker:18.06.0-ce
  script:
    - docker build -t docker-private.gesis.intra:443/docker/images/sphinx-doc .
    - echo $DEPLOYMENT_PASSWORD | docker login docker-private.gesis.intra:443 --password-stdin
    - docker push docker-private.gesis.intra:443/docker/images/sphinx-doc
  only:
    - master
    - stable