variables:
  IMAGE_NAME: "docker/images/sphinx-doc"
  IMAGE_VERSION: "1.1-7-SNAPSHOT"

stages:
  - package

Package Docker image:
  stage: package
  image: docker-private.gesis.intra/gesis/dc:5.3
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.3
      alias: docker
  script:
    - ./docker/build-and-push.sh
  only:
    - master
    - stable
    - 7-support-markdown-as-markup-language
