services:
  sphinx-doc:
    build:
      context: docker
      target: sphinx-autobuild
    volumes:
      - type: bind
        source: demo
        target: /mnt/docs
        read_only: true
      # Create volume to avoid the container overwrite demo/build
      - sphinx-doc-build:/mnt/docs/build
    expose:
      - "8000"
    ports:
      - "8000:8000"
    command: sphinx-autobuild --host 0.0.0.0 /mnt/docs/source /mnt/docs/build

volumes:
  sphinx-doc-build: